@model IEnumerable<SfStoreOnline.Models.DonHangBan>

@{
    ViewBag.Title = "Đơn hàng bán";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section css
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/Admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}
<p>
    <a href='@Url.Action("ViewThemMoi","DonHangBan")' class="btn btn-primary">Thêm mới</a>
</p>

<div class="box">
    @*<div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
        </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        <table id="dynamic-table" class="table table-bordered table-striped dataTable">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 15%;">@Html.DisplayNameFor(model => model.SoDh)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 15%">@Html.DisplayNameFor(model => model.KhachHang.HoTen)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Html.DisplayNameFor(model => model.NgayBan)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 15%">@Html.DisplayNameFor(model => model.TongSL)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 15%">@Html.DisplayNameFor(model => model.TongTt)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Html.DisplayNameFor(model => model.giohang_yn)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Html.DisplayNameFor(model => model.Status)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayBan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TongSL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TongTt)
                        </td>
                        <td>
                            @if (item.giohang_yn == true)
                            {
                                <span class="label label-success">Admin lập</span>
                            }
                            else
                            {
                                <span class="label label-danger">Tạo từ giỏ hàng</span>
                            }

                        </td>
                        <td>
                            @switch (item.Status)
                            {
                                case 1:
                                    <span class="label label-success">Tạo đơn hàng</span>
                                    break;
                                case 2:
                                    <span class="label label-success">Duyệt</span>
                                    break;
                                case 3:
                                    <span class="label label-success">Đang giao hàng</span>
                                    break;
                                case 4:
                                    <span class="label label-success">Đã giao hàng</span>
                                    break;
                                case 5:
                                    <span class="label label-success">Hủy đơn hàng</span>
                                    break;
                            }

                        </td>
                        <td>
                            <div class="action-buttons">
                               
                                <a class="green" href="@Url.Action("_Sua","DonHangBan",new {id = item.Id })">
                                    <i class="qh-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" href="#" onclick="Xoa(@item.Id)">
                                    <i class="qh-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
@* dialog form *@
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalcontent">

            </div>
        </div>
    </div>
</div>
@section jsBody
{
    <script src="~/Areas/Admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#dynamic-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });

    </script>
    <script>
         function Xoa(Id) {
            swal({
                title: "Bạn có chắc chắn muốn xóa không?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "OK",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        funcXoa(Id);
                    }
                });
        };
         function funcXoa(Id) {
              $.ajax({
                        type: "POST",
                        url: '@Url.Action("Xoa", "DonHangBan")',
                        data: { id: Id },
                        ajaxasync: true,
                        success: function () {
                            $("#dynamic-table").load(window.location + " #dynamic-table");//Xóa thành công thì load lại dữ liệu bảng
                            swal("Thành công", "Đã xóa thành công!", "success");

                      },
                      error: function () {
                          swal("Error", "Có lỗi trong quá trình xóa", "error");
                      }
                });
        };


    </script>

}
