@model SfStoreOnline.Models.NhaCungCap

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Xem chi tiết</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HoTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sdt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sdt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NguoiLienHe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NguoiLienHe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SdtNguoiLienHe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SdtNguoiLienHe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @if (Model.Status == true)
                {
                    <p>Sử dụng</p>
                }
                else
                {
                    <p>Không sử dụng</p>
                }
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


