@model SfStoreOnline.Models.KhachHang

@using (Html.BeginForm("AddNew", "KhachHang"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Date0)
    @Html.HiddenFor(model => model.Time0)
    @Html.HiddenFor(model => model.UserId0)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Sửa danh mục khách hàng</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sdt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control", placeholder = "Số điện thoại" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Status)
                    <label for="@Html.NameFor(model => model.Status)">Sử dụng</label>
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" id="approve-btn" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
     $(document).ready(function () {

        $('form').submit(function () {
            var serializedForm = $(this).serialize();
            $.ajax({
                url: '@Url.Action("SaveSua", "KhachHang")',
                type: "POST",
                data: serializedForm,
                success: function (result) {
                    $("#dynamic-table").load(window.location + " #dynamic-table");
                    $('#myModal').modal('hide');
                    swal("Thành công", "Lưu thành công!", "success");

                }

            });
            return false;
         });
         $.validator.unobtrusive.parse("form");
    });

</script>

