@model IEnumerable<SfStoreOnline.Models.TinTuc>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    SfStoreOnline.Models.PhanQuyen phanquyen = ViewBag.phanquyen;
}
@section css
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/Admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@if (ViewBag.isadmin)
{
    <p>
        <input type="button" value="Thêm mới" class="btn btn-primary" onclick="ThemMoi('ViewThemMoi','TinTuc')" />
    </p>
}
else
{
    if (phanquyen != null && phanquyen.Them)
    {
        <p>
            <input type="button" value="Thêm mới" class="btn btn-primary" onclick="ThemMoi('ViewThemMoi','TinTuc')" />
        </p>
    }
}
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <table id="dynamic-table" class="table table-bordered table-striped dataTable">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Html.DisplayNameFor(model => model.ImageName)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 15%;">@Html.DisplayNameFor(model => model.TieuDe)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 20%">@Html.DisplayNameFor(model => model.MoTa)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Html.DisplayNameFor(model => model.tag)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 5%">@Html.DisplayNameFor(model => model.Status)</th>
                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="" style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/Image/TinTuc/@item.ImageName" width="100" height="100" title="@item.ImageName" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TieuDe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tag)
                        </td>
                        <td>
                            @if (item.Status == true)
                            {
                                <span class="label label-success">Sử dụng</span>
                            }
                            else
                            {
                                <span class="label label-danger">Không sử dụng</span>
                            }

                        </td>
                        <td>
                            <div class="action-buttons">

                                @if (ViewBag.isadmin)
                                {
                                    <a class="blue" href="#" onclick="Xem('ViewChiTiet','TinTuc',@item.Id)">
                                        <i class="qh-icon fa fa-eye bigger-130"></i>
                                    </a>
                                    <a class="green" href="#" onclick="Sua('ViewSua','TinTuc',@item.Id)">
                                        <i class="qh-icon fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" href="#" onclick="Xoa('Xoa','TinTuc',@item.Id)">
                                        <i class="qh-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="blue" href="#" onclick="Xem('ViewChiTiet','TinTuc',@item.Id)">
                                        <i class="qh-icon fa fa-eye bigger-130"></i>
                                    </a>
                                    if (phanquyen != null && phanquyen.Sua)
                                    {
                                        <a class="green" href="#" onclick="Sua('ViewSua','TinTuc',@item.Id)">
                                            <i class="qh-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                    }

                                    if (phanquyen != null && phanquyen.Xoa)
                                    {
                                        <a class="red" href="#" onclick="Xoa('Xoa','TinTuc',@item.Id)">
                                            <i class="qh-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
@* dialog form *@
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:880px;">
            <div class="modal-content" id="modalcontent">

            </div>
        </div>
    </div>
</div>
@section jsBody
{
    <script src="~/Areas/Admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#dynamic-table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });

    </script>

}

