@model SfStoreOnline.Models.LienHe
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .bo4 {
        margin-top: 20px;
    }

    #first_input {
        margin-top: 0px;
    }

    .m-b-20 {
        margin-bottom: 20px;
    }

    .w-size25 {
        margin-top: 10px;
    }

    #map {
        width: 100%;
        min-height: 503px;
        
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>*@
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url('../Image/Layout/heading-pages-06.jpg');">
                <h2 class="l-text2 t-center">
                    Contact
                </h2>
            </section>
            <section class="bgwhite p-t-66 p-b-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 p-b-30">
                            <div class="p-r-20 p-r-0-lg">                                
                                <div id="map"></div>
                            </div>
                        </div>

                        <div class="col-md-6 p-b-30">
                            <form class="leave-comment">
                                <h4 class="m-text26 p-b-36 p-t-15">
                                    Liên hệ với chúng tôi
                                </h4>

                                <div class="bo4 size15 m-b-20" id="first_input">
                                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "sizefull s-text7 p-l-22 p-r-22", @placeholder = "Họ tên" } })

                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger " })
                                </div>

                                <div class="bo4 size15 m-b-20">
                                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "sizefull s-text7 p-l-22 p-r-22", @placeholder = "Địa chỉ" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger " })
                                </div>
                                <div class="bo4 size15 m-b-20">
                                    @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "sizefull s-text7 p-l-22 p-r-22", @placeholder = "Số điện thoại" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger " })
                                </div>
                                <div class="bo4 size15 m-b-20">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "sizefull s-text7 p-l-22 p-r-22", @placeholder = "Email" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger " })
                                </div>

                                @Html.TextAreaFor(model => model.NoiDung, new { @class = "dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20", @placeholder = "Nội dung" })

                                <div>
                                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger " })
                                </div>
                                <div class="w-size25">

                                    <input type="submit" id="approve-btn" value="Gửi" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

}

<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaH9FrkBuezsKKbuK1loWNXENfmnoLS7s &callback=initMap">
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
         $(document).ready(function () {
             var serializedForm = new FormData($('form')[0])
            $('form').submit(function () {
                var serializedForm = $(this).serialize();
                $.ajax({

                    url : '@Url.Action("SaveThemMoi","LienHe")',
                    type: "POST",
                    data: serializedForm,
                    success: function (result) {
                        $("#dynamic-table").load(window.location + " #dynamic-table");

                        $('#myModal').modal('hide');
                        swal("Thành công", "Cảm ơn quý khách đã gửi liên hệ! Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất!", "success");

                    }

                });
                return false;
            });
        });

</script>

<script>
    //AIzaSyCaH9FrkBuezsKKbuK1loWNXENfmnoLS7s 
 
        //21.016743, 105.805332
     

        function initMap() {
            var uluru = { lat: 21.016743, lng: 105.805332 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });

            var contentString = 'Số 20 Ngõ 678, Đường Láng, Phường Láng Thượng, Hà Nội, Việt Nam, Ngõ 1194 Đường Láng, Láng Thượng, Đống Đa, Hà Nội, Vietnam';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Công Ty StanFord'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    
</script>

